.filters {
    color: black;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: auto;
    margin-right: 30px;
}

button:hover {
    opacity: 90%;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
}

.locations {
    border: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 30px;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
    margin-left: 30px;
}

.popover {
    background-color: #fafafa;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0;
}

.popover h2 { 
    margin: 5px;
    margin-top: 20px;
}

.locations .popover li {
    margin-left: 30px;
}

.amenities .popover li {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}